{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ХочуВЛесок</title>
</head>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}"></script>


<body>

    <div class="top_bar">
        <div class="wrapper">
            <hgroup>
                <h4>хочу в</h4>
                <h2>ЛЕСОК</h2>
            </hgroup>
        </div>
    </div>
    <div class="my_map" id="YMapsID">

    </div>

    <button class="button_open_instruct open_modal" data-modal=".modal_instruction">Параметры поиска</button>

    <div class="modal_container modal_instruction">
        <div class="container">
            <div class="modal">
                <form action="">
                    <div class="item">
                        <label for="select_city">Выберите город:</label><br>
                        <select name="select_city" id="select_city"></select>
                    </div>
                    <div class="item">
                        <label for="select_object">Выберите тип объекта:</label><br>
                        <select name="select_object" id="select_object"></select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal_container modal_description">
        <div class="container">
            <div class="modal">
                <hgroup>
                    <h4>хочу в</h4>
                    <h2>ЛЕСОК</h2>
                </hgroup>
                <p>Хотите приятно провести время? Прогуляться по парку или прекрасному загородному бору?</p>
                <div class="container">
                    <div class="item">
                        <div class="step">1</div>
                        <div class="desc">На карте уже отображены находящиеся поблизости парки, облагороженные лесные зоны и местные достопримечательности.</div>
                    </div>
                    <div class="item">
                        <div class="step">2</div>
                        <div class="desc">Вы можете увидить интересные объекты в других областях нашей страны просто выбрав нужную Вам область в "Параметрах поиска".</div>
                    </div>
                    <div class="item">
                        <div class="step">3</div>
                        <div class="desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

            ymaps.ready(function(){

                var map = window.map = new ymaps.Map('YMapsID', { center: [56.034, 36.992], zoom: 8, controls: [] });
                // удаляем лишние элементы управления с карты
                map.controls.remove('mapTools');
                map.controls.remove('trafficControl');
                map.controls.remove('searchControl');
                map.controls.remove('typeSelector');
                map.controls.remove('geolocationControl');
                map.controls.add('zoomControl');

                map.controls.add(
                  new ymaps.control.Button({
                    data: {
                      content: "Моя кнопка"
                    },
                    options: {
                      layout:
                        ymaps.templateLayoutFactory.createClass(
                            template
                        ),
                      maxWidth: 80
                    }})
                );

                map.balloon.setOptions('autoPan', true);


                function drawBalloonContent(balloon){
                    var rows = getRows();
                    var objsInCluster = rows[0], objsCnt = rows[1], url = rows[2];
                    var cluster = balloon.getData().cluster;
                    if (cluster != undefined){
                        cluster.options.set('balloonLayout', ymaps.templateLayoutFactory.createClass(
                            '<div class="map-balloon">\
                                <span href="#" class="map-balloon__close">&times;</span>\
                                <table class="map-balloon__table">\
                                    <thead>\
                                        <tr>\
                                            <th class="map-balloon__table-title map-balloon__table-title_name">Наименование</th>\
                                            <th class="map-balloon__table-title map-balloon__table-title_price">Цена</th>\
                                            <th class="map-balloon__table-title map-balloon__table-title_volume">Объем</th>\
                                            <th class="map-balloon__table-title map-balloon__table-title_seller">Поставщик</th>\
                                        </tr>\
                                    </thead>\
                                    <tbody>'+objsInCluster+'</tbody>\
                                </table>\
                                <a href="/api/items/list/'+url+'" class="btn btn-primary map-balloon__gotocatalog">Все предложения <span class="count">('+objsCnt+')</span></a>\
                            </div>'
                        ));
                        cluster.options.set('balloonOffset', objsCnt == 2 ? [0, -80] : [0, -120]);
                    }
                }

                // Создадим кластеризатор и запретим приближать карту при клике на кластеры.
                clusterer = new ymaps.Clusterer({
                    clusterDisableClickZoom: true,
                    clusterIconLayout: 'default#pieChart',      // Макет метки кластера pieChart.
                    clusterIconPieChartRadius: 22,              // Радиус диаграммы в пикселях.
                    clusterIconPieChartCoreRadius: 15,          // Радиус центральной части макета.
                    clusterIconPieChartStrokeWidth: 3,          // Ширина линий-разделителей секторов и внешней обводки диаграммы.
                    balloonLayout: customBalloonContentLayout,
                });

                clusterer.events.add('click', function(){
                    var balloon = map.balloon._balloon;
                    if (balloon._state != 'CLOSED'){
                        setTimeout(function(){  // при скрытии балуна кликом на другую метку (не на крестик), не успевает перестроить контент балуна под объявления в кластере
                            drawBalloonContent(balloon);
                        }, 150);
                    }
                });

                // при открытии балуна на кластере(!), нужно обновить контент
                // таблицы по меткам, которые входят в этот кластер
                map.events.add(['balloonopen'], function (e) {
                    var balloon = map.balloon._balloon;
                    if (balloon._state != 'CLOSED'){
                        var cluster = balloon.getData().cluster;
                        if (cluster != undefined){
                            drawBalloonContent(balloon);
                        }
                    }
                });
            });

        </script>

    <script>

        function check_calc(){
            var elem = document.createElement('div');
            elem.style.cssText = "width:calc(10px)";
            return !!elem.style.length;
        }

        if(!check_calc()){
            var style = document.createElement('link');
            style.setAttribute('rel', 'stylesheet');
            style.setAttribute('href', 'css/styles.nocalc.css');
            document.body.appendChild(style);
        }

    </script>

</body>
</html>