{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ХочуВЛесок</title>
</head>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/libs.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>

<body>
    <p>Привет. Хочу в лесок!</p>
    {% for obj in objects %}
    <p>{{ obj.title }}</p>
    <p>{{ obj.description|safe }}</p>
    <p>{{ obj.address }}</p>
    <p>{{ obj.geo_x }}</p>
    <p>{{ obj.geo_y }}</p>
    <p>{{ obj.type }}</p>
    <p>{{ obj.region }}</p>
    {% if obj.image_url %}
        <img src="{{ obj.image_url }}">
    {% endif %}
    {% endfor %}
</body>
</html>