{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ХочуВЛесок</title>
</head>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}"></script>


<body>

    <div class="top_bar">
        <div class="wrapper">
            <hgroup>
                <h4>хочу в</h4>
                <h2>ЛЕСОК</h2>
            </hgroup>
        </div>
    </div>
    <div class="my_map" id="YMapsID">

    </div>

    <button class="button_open_instruct open_modal" data-modal=".modal_instruction">Параметры поиска</button>

    <div class="modal_container modal_instruction">
        <div class="container">
            <div class="modal">
                <form action="">
                    <div class="item">
                        <label for="select_city">Выберите город:</label><br>
                        <select name="select_city" id="select_city">
                            {% for reg in regions %}
                                <option value="{{ reg.pk }}">{{ reg.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="item">
                        <label for="select_object">Выберите тип объекта:</label><br>
                        <select name="select_object" id="select_object">
                            {% for t in types %}
                                <option value="{{ t.pk }}">{{ t.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal_container modal_description">
        <div class="container">
            <div class="modal">
                <hgroup>
                    <h4>хочу в</h4>
                    <h2>ЛЕСОК</h2>
                </hgroup>
                <p>Хотите приятно провести время? Прогуляться по парку или прекрасному загородному бору?</p>
                <div class="container">
                    <div class="item">
                        <div class="step">1</div>
                        <div class="desc">На карте уже отображены находящиеся поблизости парки, облагороженные лесные зоны и местные достопримечательности.</div>
                    </div>
                    <div class="item">
                        <div class="step">2</div>
                        <div class="desc">Вы можете увидить интересные объекты в других областях нашей страны просто выбрав нужную Вам область в "Параметрах поиска".</div>
                    </div>
                    <div class="item">
                        <div class="step">3</div>
                        <div class="desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{% url 'webapp:public:get_points' %}" id="ajaxUrl">

    <script>

        function check_calc(){
            var elem = document.createElement('div');
            elem.style.cssText = "width:calc(10px)";
            return !!elem.style.length;
        }

        if(!check_calc()){
            var style = document.createElement('link');
            style.setAttribute('rel', 'stylesheet');
            style.setAttribute('href', 'css/styles.nocalc.css');
            document.body.appendChild(style);
        }

    </script>

</body>
</html>